* {
	padding: 0;
	margin: 0;
	color: #cccccc;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Utility Styles */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1rem; }

body {
	background-color: #0e1111;
}


/* Index.html styles */
.container{
	margin: auto;
	padding: 2rem;
	background-color: #232b2b;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container h1, .container h2, .container form {
	padding-bottom: 1rem;
	text-align: center;
}

#search-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 200px;
}

.form {
	color: #0e1111;
	background-color: #cccccc;
	margin: .3rem;
}

.btn {
	width: 100px;
}

#suggestions {
	display: flex;
	flex-direction: row;
}

#suggestions form button {
	margin: 0rem 1rem;
	min-width: 100px;
	color: #0e1111;
	background-color: #cccccc;
}

/* Statpage.html */
#playercard {
	border-radius: 10px;
	padding-bottom: .5rem;
	text-align: left;
	min-width: 320px;
}

#playercard h2 {
	padding: .5rem 0rem 0rem .5rem;
	text-align: left;
}

/* Header Section (name and position) */
#header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: .5rem;
}


/* Stats Section */
.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.stats ul {
	list-style: none;
	padding: 0rem .5rem;

}

.stats ul li {
	display: flex;
	flex-direction: row;
}

.stats ul li p {
	padding-top: 0px;
	padding-left: 5px;
}

/* Team Color Classes */

.diamondbacks0 {background-color: #A71930;}
.diamondbacks1 {background-color: #000000;}

.braves0 {background-color: #CE1141;}
.braves1 {background-color: #13274F;}

.orioles0 {background-color: #DF4601;}
.orioles1 {background-color: #000000;}

.redsox0 {background-color: #BD3039;}
.redsox1 {background-color: #0C2340;}

.cubs0 {background-color: #0E3386;}
.cubs1 {background-color: #CC3433;}

.whitesox0 {background-color: #A71930;}
.whitesox1 {background-color: #A71930;}

.reds0 {background-color: #C6011F;;}
.reds1 {background-color: #000000;}

.indians0 {background-color: #0C2340;}
.indians1 {background-color: #E31937;}

.rockies0 {background-color: #33006F;}
.rockies1 {background-color: #C4CED4;}

.tigers0 {background-color: #0C2340;}
.tigers1 {background-color: #FA4616;}

.astros0 {background-color: #002D62;}
.astros1 {background-color: #EB6E1F;}

.royals0 {background-color: #004687;}
.royals1 {background-color: #BD9B60;}

.angels0 {background-color: #003263;}
.angels1 {background-color: #BA0021;}

.dodgers0 {background-color: #005A9C;}
.dodgers1 {background-color: #EF3E42;}

.marlins0 {background-color: #00A3E0;}
.marlins1 {background-color: #EF3340;}

.twins0 {background-color: #002B5C;}
.twins1 {background-color: #D31145;}

.brewers0 {background-color: #ffc52f;}
.brewers1 {background-color: #12284b;}

.mets0 {background-color: #002D72;}
.mets1 {background-color: #FF5910;}

.yankees0 {background-color: #0C2340;}
.yankees1 {background-color: grey;}

.athletics0 {background-color: #003831;}
.athletics1 {background-color: #EFB21E;}

.phillies0 {background-color: #E81828;}
.phillies1 {background-color: #002d72;}

.pirates0 {background-color: #27251F;}
.pirates1 {background-color: #FDB827;}

.cardinals0 {background-color: #C41E3A;}
.cardinals1 {background-color: #0C2340;}

.padres0 {background-color: #2F241D;}
.padres1 {background-color: #FFC425;}

.giants0 {background-color: #FD5A1E;}
.giants1 {background-color: #27251F;}

.mariners0 {background-color: #0C2C56;}
.mariners1 {background-color: #005C5C;}

.rays0 {background-color: #092C5C;}
.rays1 {background-color: #8FBCE6;}

.rangers0 {background-color: #003278;}
.rangers1 {background-color: #C0111F;}

.bluejays0 {background-color: #134A8E;}
.bluejays1 {background-color: #1D2D5C;}

.nationals0 {background-color: #AB0003;}
.nationals1 {background-color: #14225A;}



